<div id="index-banner" class="parallax-container">
  <div class="navbar-fixed">
    <nav class="transparent z-depth-0" id="my_navbar">
     <div class="nav-wrapper">
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul class="right hide-on-med-and-down">
         <li><a href="#about_me">About Me</a></li>
         <li><a href="#skills">Skills</a></li>
         <li><a href="#projects">Projects</a></li>
         <li><a href="#connect">Connect</a></li>
       </ul>
     </div>
    </nav>
  </div>
  <ul class="side-nav" id="mobile-demo">
    <li><a href="#about_me">About Me</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#connect">Connect</a></li>
  </ul>
  <!-- Parallax -->

  <div class="section no-pad-bot">
   <div class="container" id="startchange">
     <br><br>
     <!-- Changed font color to teal -->
     <h1 class="header center full teal-text text-lighten-2">Full Stack Developer</h1>
     <!-- Changed font color to teal -->
     <h1 class="header center teal-text text-lighten-2 full">Jae Park</h1>
     <div class="row center">
       <h5 class="header col s12 light white-text ">Web Developer in Ruby and Python</h5>
     </div>
     <!-- Modal -->
     <div class="row center">
       <!-- Changed background-color to black -->
       <a class="waves-effect waves-light btn" style="background-color: black;" href="#modal1">Resume</a>
     </div>
     <!-- Modal Structure -->
     <div id="modal1" class="modal modal-fixed-footer" style="height:500px;">
       <div class="modal-content" style="height: 100%">
         <!-- Adding resume to modal -->
         <object data="jae_park_resume.pdf" type="application/pdf" style="width:100%; height: 100%;"></object>
       </div>
       <div class="modal-footer">
         <form action="/" >
           <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
           <!-- Linking Jae_Park_Resume_1 for download -->
           <a href="jae_park_resume.pdf" download="jae_park_resume.pdf" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Download</a>
         </form>
       </div>
     </div>
     <br><br>
   </div>
  </div>
  <!-- Background for parallax -->
  <div class="parallax"><img src="desk.jpg" alt="Unsplashed background img 1">
  </div>
  <!-- /.parallax-container -->
</div>
<div id="about_me">
</div>
<br><br>
<div  class="row center">
  <h4>About Me</h4>
</div>
<div class="row container">
  <p class="light" style="text-align: center; font-size: 20px;">I'm a Full Stack Developer specialized in Ruby, Python, and JavaScript.  With a passion in computers and technology, it has inspired me to enroll in a Full Stack Development program.  Recently, I graduated from the Coding Dojo located in Washington DC. Coding Dojo is a Full Stack Development program. Along through the years, I have gained many varieties of soft skills.  Over 15 years in management experience.  Started a business on my own.  Combined with development skills, I'm able to be a net positive contributor. </p>
</div>
<div id="skills">
</div>
<div class="container">
  <div class="section">
   <!--   Icon Section   -->
   <div class="row">
     <!-- First third column -->
     <div class="col s12 m4">
       <br><br>
       <div class="icon-block">
         <h5 class="center">Front End</h5>
         <p class="light" style="font-size: 20px;">HTML5, CSS3, jQuery, AJAX, Bootstrap, Materialize</p>
       </div>
     </div>
     <!-- Second third column -->
     <div class="col s12 m4">
       <br><br>
       <div class="icon-block">
         <h5 class="center">Backend</h5>
         <p class="light" style="font-size: 20px;">Rails, Django, ExpressJS, Node.js, Flask, Socket.IO, ActiveRecord</p>
       </div>
     </div>
     <!-- First third column -->
     <div class="col s12 m4">
       <br><br>
       <div class="icon-block">
         <h5 class="center">Database</h5>
         <p class="light" style="font-size: 20px;">MySQL, PostgreSQL, SQLite, MongoDB</p>
       </div>
     </div>
   </div>
   <br><br>
   <!-- Icons Row 1-->
   <div class="row">
     <div class="col 12 m2 s6">
       <img  src="html5.png" alt="HTML5, CSS3, JavaScript" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="HTML5, CSS3, JavaScript">
     </div>
     <div class="col 12 m2 s6">
       <img  src="ruby.png" alt="Ruby" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ruby">
     </div>
     <div class="col 12 m2 s6">
       <img  src="python.png" alt="Python" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Python">
     </div>
     <div class="col 12 m2 s6">
       <img  src="rails.png" alt="Rails" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Rails">
     </div>
     <div class="col 12 m2 s6">
       <img  src="django.png" alt="Django" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Django">
     </div>
     <div class="col 12 m2 s6">
       <img  src="sqlite.png" alt="SQLite" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="SQLite">
     </div>
   </div>
   <!-- Icons Row 2 -->
   <div class="row">
     <div class="col 12 m2 s6">
       <img  src="illustrator.png" alt="Adobe Illustrator" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Illustrator">
     </div>
     <div class="col 12 m2 s6">
       <img  src="photoshop.png" alt="Adobe Photoshop" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Photoshop">
     </div>
     <div class="col 12 m2 s6">
       <img  src="githubskill.png" alt="Github" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Github">
     </div>
     <div class="col 12 m2 s6">
       <img  src="mamp.png" alt="MAMP" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MAMP">
     </div>
     <div class="col 12 m2 s6">
       <img  src="mysql.png" alt="MySql" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MySQL">
     </div>
     <div class="col 12 m2 s6">
       <img  src="postgres.png" alt="PostgreSQL" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="PostgreSQL">
     </div>
   </div>
   <!-- Icons Row 3 -->
   <div class="row">
     <div class="col 12 m2 s6">
       <img  src="json.png" alt="JSON" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="JSON">
     </div>
     <div class="col 12 m2 s6">
       <img  src="jquery.png" alt="jQuery" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="jQuery">
     </div>
     <div class="col 12 m2 s6">
       <img  src="materialize.png" alt="Materialize" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Materialize">
     </div>
     <div class="col 12 m2 s6">
       <img  src="mongodb.png" alt="MongoDB" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MongoDB">
     </div>
     <div class="col 12 m2 s6">
       <img  src="nodejs.png" alt="NodeJS" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="NodeJS">
     </div>
     <div class="col 12 m2 s6">
       <img  src="npm.png" alt="NPM" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="NPM">
     </div>
   </div>
   <!-- Icons Row 4 -->
   <div class="row">
     <div class="col 12 m2 s6">
       <img  src="bower2.png" alt="Bower 2" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Bower 2">
     </div>
     <div class="col 12 m2 s6">
       <img  src="flask.png" alt="Flask" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Flask">
     </div>
     <div class="col 12 m2 s6">
       <img  src="socket.png" alt="Socket.io" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Socket.io">
     </div>
     <div class="col 12 m2 s6">
       <img  src="terminal.png" alt="Terminal" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Terminal">
     </div>
     <div class="col 12 m2 s6">
       <img  src="vagrant.png" alt="Vagrant" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Vagrant">
     </div>
     <div class="col 12 m2 s6">
       <img  src="bootstrap.png" alt="Bootstrap" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Bootstrap">
     </div>
   </div>
   <br>
  </div>
<!-- /.container -->
</div>
<!-- Background for parallax -->
<div id="projects">
</div>
<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="office.jpg" alt="Unsplashed background img 1"></div>
</div>
<!-- projects -->
<div class="container">
  <div class="section">
   <div class="row">
     <div class="col s12 center">
       <h3><i class="mdi-content-send brown-text"></i></h3>
       <h4>Projects: Ruby and Python</h4>
     </div>
   </div>

   <!-- s12 is whole screen width and m6 is half -->
   <!-- Top 2 Projects -->
   <div class="row">
     <div class="col s12 m6">
       <!-- adding card LEFT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="events.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Events<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/jimmymixer/CodingDojoAssignments/tree/master/Ruby/first_vagrant_box/Ruby_Rails/Events" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Events<i class="material-icons right">close</i></span>
           <p>Events is a web application that you can see all events user's posted.  Events is grouped by the state that your living in and events outside your state.  Users can add new events and have the ability to join other users. </p>
           <p>The application was built with Ruby and Rails using SQLite.  The front-end was built with bootstrap</p>
         </div>
       </div>
     </div>
     <div class="col s12 m6">
       <!-- adding card RIGHT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="shoe_blog.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Shoe Blog<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Python2/CodingDojo_Python2/Django/belt_exam_quotes/shoe_blog_django_project" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Shoe Blog<i class="material-icons right">close</i></span>
           <p>Shoe Blog is a web application about Men's Shoes.  Users can visit this site to see the latest articles on fashion trends and fashion tips.  Views can post comments at the bottom of the page.</p>
           <p>This site was built with Python and Django using SQLite.  The front-end was built with bootstrap.</p>
         </div>
       </div>
     </div>
   </div>

   <!-- s12 is whole screen width and m6 is half -->
   <!-- 2nd Row Projects -->
   <div class="row">
     <div class="col s12 m6">
   <!-- adding card LEFT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="secrets.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Secrets<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Ruby/first_vagrant_box/Ruby_Rails/Secrets" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Secrets<i class="material-icons right">close</i></span>
           <p>Secrets is a website where the user can submit a secret anonymously.  Other users can "Like" a secret that they enjoy.  Users have the ability to remove a "Like" from a particular secret and delete there own secrets from the dataabase.  In the users dashboard, users are able to see how many likes there are on each secret they posted.</p>
           <p>This site was built with Rails using PostgreSQL.  The front-end was built with materialize.</p>
         </div>
       </div>
     </div>
     <div class="col s12 m6">
   <!-- adding card RIGHT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="travel_buddy.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Travel Buddy<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Python2/CodingDojo_Python2/Django/belt_exam_travel_buddy/belt_exam" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Travel Buddy<i class="material-icons right">close</i></span>
           <p>Travel Buddy is website a user can make travel plans.  Users can join other user's travel plans.  You can click on the destination and find out who is currently joining the trip.</p>
           <p>This site was built with Python and Django using SQLite.  The front-end was built with Bootstrap</p>
         </div>
       </div>
     </div>
   </div>

   <!-- 3rd Row Projects -->
   <div class="row">
     <div class="col s12 m6">
   <!-- adding card LEFT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="book_review_rails.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Book Review<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Ruby/first_vagrant_box/Ruby_Rails/BookReview" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Book Review<i class="material-icons right">close</i></span>
           <p>Book Review is a web application where users can add a new book, add an image, add comments, and give a 5 star rating.  Users can add comments on other user's books that they posted.</p>
           <p>This web application was built with Ruby on Rails using SQLite.  Front-end was built with Bootstrap.</p>
         </div>
       </div>
     </div>
     <div class="col s12 m6">
   <!-- adding card RIGHT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="check_list_rails.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Checklist<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Ruby/first_vagrant_box/Ruby_Rails/Checklist" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Checklist<i class="material-icons right">close</i></span>
           <p>Checklist is a web application where users can add a new checklist item and see it on their home page.  Users can click on the check mark icon if checklist item is complete or delete an checklist item.  Users can not see other user's checklist</p>
           <p>This web application was built with Ruby on Rails using SQLite.  The front-end was built with Bootstrap</p>
         </div>
       </div>
     </div>
   </div>

   <!-- 4th Row Projects -->
   <div class="row">
     <div class="col s12 m6">
   <!-- adding card LEFT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="message_board_rails.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Message Board<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Ruby/first_vagrant_box/Ruby_Rails/MessageBoard" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Message Board<i class="material-icons right">close</i></span>
           <p>Message Board is a web application where a user can post a message to show on home page for all users to see.  Other users can view message posted by other users and can add a comment.  Users can create, edit, and delete their own message or comment.</p>
           <p>This web application was built with Ruby on Rails using SQLite.  Front-end was built with Bootstrap.</p>
         </div>
       </div>
     </div>
     <div class="col s12 m6">
   <!-- adding card RIGHT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="ninja_gold_game_rails.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Ninja Gold Game<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Ruby/first_vagrant_box/Ruby_Rails/ninja_gold_game" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Ninja Gold Game<i class="material-icons right">close</i></span>
           <p>Ninja Gold Game is a simple application where you try to collect as much gold as possible.  Each property gives or takes a different amount of gold.  Your activity is recorded and displayed on the page.  A user can reset their gold back to zero.  This application was built for practice using sessions.</p>
           <p>This application was built with Ruby on Rails using SQLite.</p>
         </div>
       </div>
     </div>
   </div>

   <!-- 5th Row Projects -->
   <div class="row">
     <div class="col s12 m6">
   <!-- adding card LEFT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="post_rails_ajax.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">PostAjax<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Ruby/first_vagrant_box/Ruby_Rails/PostAjax" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">PostAjax<i class="material-icons right">close</i></span>
           <p>PostAjax is a web application where a user can add a post containing a title and content.  Users can create, edit, and delete their own posts.  Users can see other users posts.  </p>
           <p>This web application was built with Ruby on Rails and Ajax using SQLite.  Front-end was built with Bootstrap.</p>
         </div>
       </div>
     </div>
     <div class="col s12 m6">
   <!-- adding card RIGHT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="recipe_app_rails.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">RecipeApp<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/jimmymixer/RecipeApp" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">RecipeApp<i class="material-icons right">close</i></span>
           <p>RecipeApp is a web application where users can add a recipe card.  All recipes are shown on the home page.  Users can add title, description, image, ingredients, and steps.  Users can create, edit, delete any recipe.  This application does not a have a sign in. </p>
           <p>This application was built with Ruby on Rails using SQLite.  Front-end was built with Bootstrap.</p>
         </div>
       </div>
     </div>
   </div>

   <!-- 6th Row Projects -->
   <div class="row">
     <div class="col s12 m6">
   <!-- adding card LEFT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="shoe_sale_rails.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">ShoeSale<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Ruby/first_vagrant_box/Ruby_Rails/ShoeSale_3_css" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">ShoeSale<i class="material-icons right">close</i></span>
           <p>ShoeSale is a web application where users can sign in and list a shoe they would like to put up for sale.  Application keeps track of your inventory, sales, and purchases.  Users can buy other users's shoes.</p>
           <p>This web application was built with Ruby on Rails using SQLite.</p>
         </div>
       </div>
     </div>
     <div class="col s12 m6">
   <!-- adding card RIGHT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="simple_survey_rails.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Survey<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Ruby/first_vagrant_box/Ruby_Rails/survey_form" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Survey<i class="material-icons right">close</i></span>
           <p>Survey is a simple form application where you can post a survey about where you are located from, what is your favorite language, and additional comments.  There is no user sign up in this application</p>
           <p>This application was built with Ruby on Rails using SQLite.</p>
         </div>
       </div>
     </div>
   </div>

  <!-- /.col -->
  </div>
<!-- /.container -->
</div>

<div class="container">
  <div class="section">
   <div class="row">
     <div class="col s12 center">
       <h3><i class="mdi-content-send brown-text"></i></h3>
       <h4>Projects: Only HTML, CSS, jQuery,and Bootstrap</h4>
     </div>
   </div>

   <!-- 1st Row Projects -->
   <div class="row">
     <div class="col s12 m6">
   <!-- adding card LEFT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="animate_css_html.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Animate CSS<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Bootstrap/5_animated_landing_page_html_css" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Animate CSS<i class="material-icons right">close</i></span>
           <p>Animate CSS is a single page using jQuery to animate divs upon page loading. This page the title and a button slide up from the buttom of the page.   The button has a great hover feature.  Documentation is from animate.css</p>
           <p>This single page was built with html, css, and jQuery.</p>
         </div>
       </div>
     </div>
     <div class="col s12 m6">
   <!-- adding card RIGHT -->
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- Insert new image -->
           <img class="activator" src="live_video_bootstrap_static_page.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Live Video Landing Page<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/Codingdojodc/Python2nd/tree/master/Bootstrap/3_site_w_video_background" target="_blank">Link to Github</a></p>
         </div>
         <!-- Card reveal from bottom -->
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Live Video Landing Page<i class="material-icons right">close</i></span>
           <p>Live Video is a single static landing page that has a title in the middle of the page with looping video behind the title.  The looping video has an opacity to it giving a really nice professional look to the page.</p>
           <p>The single page is using html and css.</p>
         </div>
       </div>
     </div>
   </div>

  <!-- /.col -->
  </div>
<!-- /.container -->
</div>

<!-- Text over parallax background picture -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
   <div class="container">
     <div class="row center">
     </div>
   </div>
  </div>
  <!-- Background for parallax -->
  <div class="parallax"><img src="typing.jpg" alt="Unsplashed background img 3"></div>
</div>
<!-- Changed the footer color to teal -->
<footer class="page-footer teal">
  <div class="container">
   <div class="row">
     <div class="col l3 s12">
     </div>
     <div class="col l3 s12">
       <h5 id="connect" class="white-text">Connect</h5>
       <ul>
         <!-- Contact info -->
         <li><a class="white-text" href="#!" target="_blank" mailto:"jaepark75@gmail.com">jaepark75@gmail.com</a></li>
         <li><a class="white-text" href="#!">781.571.9437</a></li>
         <br>
         <!-- Social media links -->
         <a href="https://www.linkedin.com/in/jae-park-3390525b" target="_blank" class="waves-effect waves-light btn-floating btn-large social linkedin" style="background-color: #007bb6">
         <i class="fa fa-linkedin"></i> Sign in with linkedin</a>
         <a href="https://github.com/jimmymixer" target="_blank" class="waves-effect waves-light btn-floating btn-large social github" style="background-color: #444444">
         <i class="fa fa-github"></i> Sign in with github</a>
       </ul>
     </div>
   </div>
  </div>
  <div class="footer-copyright">
   <div class="container">
     Made by Jae Park
   </div>
  </div>
</footer>

  <!-- <div class="section container">
  </div> -->

  <!-- s12 is whole screen width and m6 is half -->
